@import "font.css";
@import "backgrounds.css";
@import "team.css";
@import "header.css";
@import "footer.css";

/* def's*/
html, body{
	height: 100%;
	font-family: bender, sans-serif;
}


/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/* form controls */
.inp_style{
  width: 100%;
  height: 62px;
  line-height: 62px;
  padding-left: 20px;
  margin-bottom: 18px;
  outline: none;
  
  color: rgb(255,255,255);
  color: rgba(255,255,255, .5);
  border: 1px solid rgb(255,255,255);
  border: 1px solid rgba(255,255,255, .3);
  background-color: rgb(6,32,73);
  background-color: rgba(6,32,73, .2);

  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn_style{
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 4px;
  border: none;

  font-family: benderblack, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #ee8c01;
  font-size: 18px;

  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
  .btn_style:hover{
    background: #f9b341;
    font-size: 20px;
  }



