@import "font.css";
@import "team.css";
@import "header.css";
@import "footer.css";

/* def's*/
html, body{
	height: 100%;
	font-family: bender, sans-serif;
}
body{ background: url('images/body_bg.jpg') repeat;}


/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


.container-860{
	width: 860px;
	margin: 0 auto;
}

.section_title{
  color: #ee8c01;
  font-size: 48px;
  font-family: benderblack, sans-serif;
  text-transform: uppercase;

  margin-top: 0;
}
  .our_projects h1.section_title {
    max-width: 400px;
  }
  h1.section_title{
    font-size: 72px;
    line-height: 76px;
    margin-top: 50px;
    margin-bottom: 65px;
  }

/* form controls */
.inp_style{
  width: 100%;
  height: 62px;
  line-height: 62px;
  padding-left: 20px;
  margin-bottom: 18px;
  outline: none;
  
  color: rgb(255,255,255);
  color: rgba(255,255,255, .5);
  border: 1px solid rgb(255,255,255);
  border: 1px solid rgba(255,255,255, .3);
  background-color: rgb(6,32,73);
  background-color: rgba(6,32,73, .2);

  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn_style{
  display: inline-block;
  height: 62px;
  line-height: 62px;
  margin-top: 4px;
  border: none;
  padding: 0 32px;


  font-family: benderblack, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #ff9707;
  font-size: 18px;

  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
  .btn_style:hover{
    background: #f9b341;
    text-decoration: none;
    color: #fff;
  }

/* top */

/*about complex*/
section.about_complex{
	color: #fff;
	padding-bottom: 220px;
}
	section.about_complex .section_title,
	section.about_complex .after_title{
		text-align: center;
	}
	section.about_complex .col-xs-6 div{
		display: table-cell;
		vertical-align: middle;
	}
	section.about_complex .complex_img{
		padding-right: 30px;
	}
	section.about_complex .line{
		margin-top: 70px;
	}

/* about company */
section.about_company{
	height: 480px;
	padding-top: 37px;
	
	color: #72777a;
	background: url('images/about_company_bg.jpg') no-repeat 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
	section.about_company .left_side{
		margin-top: 90px;
	}
	section.about_company .line{
		margin-bottom: -40px;
	}
		section.about_company .line:nth-child(odd){
			margin-left: 80px;
		}
		section.about_company .line div{
			display: table-cell;
			vertical-align: middle;
		}
	section.about_company .about_us_img{
		padding-right: 20px;
	}
	section.about_company .line span{
		display: block;
		color: #6f584f;
	}

/* gallery */
section.gallery{
	padding-top: 130px;
	padding-bottom: 170px;
}
	section.gallery .gallery_block{
		width: 947px;
		height: 495px;
		margin: -75px auto 50px;

		background: url('images/gallery_img.png') no-repeat 50%;
		-webkit-background-size: cover;
		background-size: cover;

		text-align: center;
	}
	section.gallery .gallery_button{
		display: inline-block;
		margin-top: 256px;
	}
	section.gallery .boss_post{
		position: relative;
		width: 544px;
		height: 181px;
		/*margin-left: 266px;*/
		padding: 45px 80px 0 75px;
		
		text-align: center;
		color: #fff;
		background: url('images/boss_bg.png') no-repeat 50%;
		font-family: benderbold, sans-serif;
	}
		section.gallery .boss_post p{
			font-size: 24px;
			color: #d8dbdd;
			
		}
		section.gallery .boss_post span{
			display: block;
			text-align: right;

			font-size: 14px;
			color: #6f584f;
		}
		section.gallery .boss_post:before{
			content: '';
			position: absolute;
			top: -35px;
			left: -35px;
			width: 133px;
			height: 89px;
			background: url('images/gallery_quote.png') no-repeat 50%;
		}
		section.gallery .boss_post:after{
			content: '';
			position: absolute;
			top: 73px;
			right: -112px;
			width: 188px;
			height: 212px;
			background: url('images/gallery_diamond.png') no-repeat 50%;
		}

/* excursion */
section.excursion{
	height: 480px;
	padding-top: 155px;

	background: url('images/excursion_bg.jpg') no-repeat 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

/* planning */
section.planning{

}

/* catalog */
section.catalog{
	height: 400px;
	padding-top: 120px;

	background: url('images/catalog_bg.jpg') no-repeat 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

/* video */
section.video{
	padding-top: 95px;
}
	section.video .video_block{
		width: 677px;
		height: 360px;
		margin: 0 auto;
		
		color: #fff;
		text-align: center;
		background: url('images/video_img.png') no-repeat 0 0;
	}
	section.video .watch_video_btn{
		display: block;
		width: 104px;
		height: 104px;
		background-color: #fff;
		margin: 118px auto 25px;
	}

/* map */
#map{
  height: 575px;
  width: 100%;
  background: #fff;
}

