@media(max-width: 991px){

	.container-860{
		width: 100%;
	}
	.section_title{
		font-family: benderbold, sans-serif;
		padding-left: 60px;
		text-align: left !important;
	}
	.container.about_container {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100%;
	}

	/* header */
	header{
		background: none;
		padding: 0 32px;
	}
		header .nav-menu-btn{
			margin-right: 4px;
			margin-top: 60px;
		}
		.nav-menu-btn i {
		  display: block;
		  width: 29px;
		  margin: 7px 0;
		}
		.nav-menu-btn:before {
		  content: '';
		  width: 41px;
		}
		.nav-menu-btn:after {
		  content: '';
		  width: 36px;
		}
		.nav-menu-btn i,
		.nav-menu-btn:before,
		.nav-menu-btn:after {
			height: 7px;
		}
	section.top .logo_count{
		left: 50%;
		margin-left: -264px;
	}
	section.top .trees_bg .street_position{
		border: none;
	}
		section.top .trees_bg .street_position span{
			font-size: 36px;
			color: #93715d;
		}
	
	/* about complex*/
	section.about_complex{
		padding-bottom: 0;
	}
	section.about_complex .after_title{
		text-align: left;
		padding-left: 60px;
		margin-bottom: 30px;
	}
	section.about_complex .line{
		display: table;
		width: 100%;
	}
		section.about_complex .block_50{
			display: table-cell;
			vertical-align: middle;
			float: none;
			margin-top: 0;
			height: 360px;
			text-align: center;
		}
			section.about_complex .block_50 .mobile_text{
				font-size: 26px;
				color: #93715d;
				line-height: 30px;
			}
			section.about_complex .block_50 .visible-xs img{
				margin-bottom: 45px;
			}

	section.about_complex .economy{
		background: #2a313d;
	}
	section.about_complex .energy{
		background: #323340;
	}
	section.about_complex .video{
		background: #2a2d37;
	}
	section.about_complex .water{
		background: #33303a;
	}
	section.about_complex .planning{
		background: #323038;
	}
	section.about_complex .price{
		background: #282c38;
	}
	
	/* gallery */
	section.gallery .gallery_block{
		left: 50%;
		margin: -75px 0 50px -478px;
	}
	section.gallery .boss_post{
		background: none;
	}
	
	/* planning */
	section.planning{
		background: none;
	}
	section.planning .planning_flat .section_title{
		text-align: center !important;
		padding: 0;
	}
	section.planning .flat_floor_list{
		margin: 30px auto 60px;
		float: none !important;
	}
}
